<ion-content>
        <super-tabs tabsPlacement="bottom" toolbarBackground="light" toolbarColor="header">
            <super-tab [root]="reportRoot" title="Report" icon="calendar"></super-tab>
            <super-tab [root]="callsRoot" title="Calls" icon="notifications"></super-tab>
            <super-tab [root]="levelsRoot" title="Levels" icon="stats"></super-tab>
            <super-tab [root]="newsRoot" title="News" icon="logo-rss"></super-tab>
            <super-tab [root]="chartRoot" title="Chart" icon="pulse"></super-tab>     
        </super-tabs>
        <ion-fab right bottom style="margin-bottom:65px">
                <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
                <ion-fab-list side="top">
                  <button ion-fab (click)="shareFB()"><ion-icon color="primary" name="logo-facebook"></ion-icon></button>
                  <button ion-fab (click)="sharewap()"><ion-icon color="secondary" name="logo-whatsapp"></ion-icon></button>
                  <button ion-fab (click)="sharetwit()"><ion-icon color="primary" name="logo-twitter"></ion-icon></button>
                  <button ion-fab (click)="moreshare()"><ion-icon color="primary" name="share"></ion-icon></button>
                </ion-fab-list>
              </ion-fab>
        </ion-content>