<ion-content class="login-content" padding>
  <ion-row calss="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/ncdexp.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <form [formGroup]="details" (ngSubmit)="Submit()">
  <div class="login-box">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
          	<ion-item>
              <ion-label><ion-icon name="person" color="iconcolor"></ion-icon></ion-label>
              <ion-input type="text" formControlName="username" name="username" placeholder="User Name" [(ngModel)]="data.username"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label><ion-icon name="mail" color="iconcolor"></ion-icon></ion-label>
              <ion-input type="email" formControlName="email" name="email" placeholder="Mail@example.com" [(ngModel)]="data.email"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label><ion-icon name="call" color="iconcolor"></ion-icon></ion-label>
              <ion-input type="tel" formControlName="phone" name="phone" placeholder="Phone Number" [(ngModel)]="data.phone"></ion-input>
            </ion-item>
          
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button round type="submit" color="btn" [disabled]="!details.vaild">Register&nbsp;<ion-icon name="log-out"></ion-icon></button>
        </ion-col>
      </ion-row>  
  </div>
</form>
</ion-content>