page-register {
    .login-content {
        background-image:url(../assets/splashp.png);
        // background: linear-gradient(168deg,#fee392 30%,#ffc000 80%);
  
      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }
   
      .login-box {
        padding: 20px 20px 0px 20px;
        margin-top: 40px;
        background:rgba(0,0,0,0.5);
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           
           padding-left: 30px !important;
           font-size: 1.0em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 5px 0px 5px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
    }
}
