<ion-header>
    <ion-navbar color="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Performance Report</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content >
    <iframe src="http://ncdex.fastura.net/public/past-performance/" width="100%" height="100%"></iframe>
</ion-content>
