<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="header">
            <ion-title color="light" text-center>NCDEX Tracker</ion-title>
           <ion-avatar>
              <div class="circle-pic">
                <img class="image" src="assets/ncdexp.png">
            </div>
          </ion-avatar>
          </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <h2 *ngIf="p.title == 'Home'"><ion-icon name="home" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'Account'"><ion-icon name="person" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'Holidays'"><ion-icon name="bookmarks" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'FAQ'"><ion-icon name="clipboard" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'Rate Me'"><ion-icon name="star-half" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'Help'"><ion-icon name="chatbubbles" color="iconcolor"></ion-icon> {{p.title}}</h2>
          <h2 *ngIf="p.title == 'About Us'"><ion-icon name="alert" color="iconcolor"></ion-icon> {{p.title}}</h2>
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>