<ion-header>
    <ion-navbar color="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>News</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <iframe src="http://mcx.fastura.net/mcx/nse%20rss/" height="100%" width="100%"></iframe>
  </ion-content>
  