page-rateme {
    .login-content {
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
        .login-box {
          padding: 20px 20px 0px 20px;
          margin-top: 100px;
          background:rgba(0,0,0,0.5);
        }   
        ion-row {
           align-items: center;
           text-align: center;
         }
     
        ion-item {
            padding-left: 10px !important;
            font-size: 1.0em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
     
        .signup-col {
          margin: 0px 0px 0px 0px;
          padding-bottom: 20px;
        }
     
        .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
        }
    }
    .ico{
      font-size: 45px;
      color:#209AEF
      ;
  }
}
